{{#each offers}}
<div class="board__block">
    <img class="board__image" src="{{image}}" alt="http://37.139.40.252:8080/api/v1/image/default_offer.jpg">
    <span class="board__like {{likeClass}}" data-ad-id="{{id}}">
        <img src="{{likeIcon}}" alt="Лайк">
    </span>
    <span class="board__price">{{formatPrice price}} ₽</span>
    <span class="board__description">{{rooms}}-комн. · {{area}}м²</span>
    <span class="board__metro">
        <img src="../../images/metro.png" alt="Метро"> {{metro}}
    </span>
    <span class="board__address">{{address}}</span>
</div>
{{/each}}

<div class="pagination">
    <p>Страница {{meta.page}} из {{meta.total}} предложений</p>
</div>