{{#each items}}
    <div class="board__block">
        <img class="board__image" src="{{this.image}}" alt="Фото объявления">
        <span class="board__like {{this.likeClass}}" data-ad-id="{{this.id}}">
            <img src="{{this.likeIcon}}" alt="Лайк">
        </span>
        <span class="board__price">{{this.price}}</span>
        <span class="board__description">{{this.rooms}} · {{this.area}}</span>
        <span class="board__metro">
            <img src="../../images/metro.png" alt="Метро"> {{this.metro}}
        </span>
        <span class="board__address">{{this.address}}</span>
    </div>
{{/each}}