<div class="complex">
    <div class="complex__slider">
        <div class="complex__slider-group">
            <span class="complex__slider-title">{{title}}</span>
            <span class="complex__slider-price">{{price}}</span>
        </div>
        
        <div class="complex__slider-images">
            {{#each images}}
            <img class="slider__image {{#if @first}}slider__image_active{{/if}}" 
                 src="{{this}}" 
                 alt="Фото комплекса {{@index}}">
            {{/each}}

            {{#if multipleImages}}
            <div class="slider__btn-group">
                <button class="slider__btn slider__btn_prev">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                </button>
                <button class="slider__btn slider__btn_next">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                </button>
            </div>

            <div class="slider__dots">
                {{#each images}}
                <button class="slider__dot {{#if @first}}slider__dot_active{{/if}}"></button>
                {{/each}}
            </div>
            {{/if}}
        </div>
    </div>

    <div class="complex__block">
        <span class="complex__suptitle">Адрес</span>
        <h1 class="complex__title">{{address}}</h1>
        <span class="complex__metro">
            <img src="../images/metro.png" alt="Метро"> {{metro}}
        </span>
        <p class="complex__desc">{{description}}</p>
    </div>

    <div class="complex__block">
        <h2 class="complex__title">Доступные апартаменты</h2>
        <div class="complex__apartments">
        </div>
    </div>

    <div class="complex__block">
        <div class="complex__map"></div>
    </div>
</div>